<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InteractiveAnimationExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E995491F0F5A230004CF39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E9955D1F0F5A230004CF39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E995681F0F5A230004CF39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
